<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanis.studentlife">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AddOfferActivity" />
        <activity android:name=".AddPlanActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".planActivity" />
        <activity android:name=".OfferActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".DispatcherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>